/*
Rojo - bullet : #f64552
Gris - bullet : #f8f8f8
yellow : #fbd43b
Gris dark : #212121
Gris - letra soft : #8f8f8f
Turquesa - Términos y condiciones: #00c3a3
Morado - Entrada de números : #49233b
Morado light : #451e36
Morado dark : #38052a
*/

body,h1,h2,h3,h4,h5,h6,span,input,label,small, button{
  font-family: 'Roboto' !important;
}

h6 {
  font-size: 1.3rem;
  line-height: 1.7;
}

.container-fluid {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.btn {
  box-shadow: none;
}

.btn:disabled{
  color: #fff !important;
}

.white-text {
  color: #fff;
}

.margin-top {
  margin-top: 55px;
}

.relative {
  position: relative;
}

.margin-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.font-500 {
  font-weight: 500;
}

.big-icon {
  width: 100px;
}

p,
small,
.grey-soft-text {
  color: #8f8f8f;
}

input[type="text"],
input[type="number"],
strong {
  color: #49233b;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
  border-color: #DFDFDF;
}

.light-turquoise {
  color: #00c3a3;
}

.full-width {
  width: 100%;
}

.grey-dark-text {
  color: #212121;
}

.yellow {
  background-color: #fbd43b !important;
}

.dark-purple-text {
  color: #38052a;
}

.carousel-slider {
  transform: translateY(20%);
  height: 62vh !important;
  width: 80%;
  margin: auto;
  margin-bottom: 75px;
}

.carousel .carousel-item>img {
  width: 75%;
}
.carousel .indicators .indicator-item.active {
  background-color: #f44336;
}

.field-icon {
  position: absolute;
  height: 25px;
  left: 15px;
  top: 8px;
}

.create-user .form img {
  width: 25px;
  object-fit: contain;
}

.regcard .field-icon {
  height: 20px;
  top: 13px;
}

input[type="number"],
input[type="text"],
input[type="email"]
input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px #8f8f8f solid;
  margin: 0;
  margin-bottom: 15px;
}


.inline-block {
  display: inline-block;
}

.clock {
  width: 17px;
  transform: translateY(25%);
}

.timer-div {
  width: 33%;
}

input[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #00c3a3;
  background-color: #00c3a3;
}

input[type="number"]:focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly])
{
  box-shadow: none;
  border-bottom: 1px #fbd43b solid;
}

.success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success h6 {
  margin: 0.7rem 0 .4rem 0;
  line-height: 20px;
}

.small-input {
  width: 50px !important;
  margin: 0 3px !important;
}

.form .scan-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.form .vence-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.form .scan-div p {
  margin: 0 0 0 5px;
}

.ask-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 23px;
}
